/* :root from general.css */

/* footer_links */
.logo_links {
    display: flex;
    justify-content: space-around;
}

.footer_links {
    display: flex;
}

summary2 {
    align-items: center;
    display: flex;
}

.footer_links .links {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.links_title {
    font-size: 30px;
}

.footer_links .links a {
    left: 10px;
    position: relative;
}

.footer_links .links a::before {
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position: relative;
    right: 9px;
    height: 100%;
}

/* footer_logo  */
img.footer_Logo {
    height: calc(15vh - 17px);
}
