/* :root from header.css */

body, html {
    background: var(--first-color);
	margin: 0px;
	font-family: fantasy;
}

div#shell {
	color: #a7acb0;
}

/* slideshow */

.output {
    display: flex;
    max-width: 100%;
    height: auto;
}

.slide-movie-banner {
    opacity: 0.50;
    position: relative;
    text-align: center;
    color: white;
}

.slide-card_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* text above cards */
.head {
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-size: 25px;
    position: relative;
    padding: 25px 0px 0px 25px;
}

.Hheader {
    font-size: 45px;
    margin: 20px 0px 0px 20px;
}

.text-right {
    font-size: 20px;
    position: relative;
    align-items: end;
    display: flex;

}

.text-right a {
    color: white;
    text-decoration: none;
}

.text-right a:visited {
    color: var(--third-color);
}


/* cards */
.MainCards {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding: 25px 30px 25px 30px;
    scrollbar-color: var(--third-color) transparent;
    scrollbar-width: thin;
    overflow-y: hidden;
    user-select: none; 
    cursor: grab;
}

.MainCards:hover {
    overflow-x: auto;
}

.MainCards:active {
    cursor: grabbing;
}

.movie-banner img {
    border-radius: 10px;
    pointer-events: none;
    height: 378px;
    width: 250px
}

.Card {
    background: var(--first-color);
    border-radius: 10px;
    transition: .4s;
}

.Card:hover {
    transform: scale(1.05);
    clip-path: inset(0);
    transition: .4s;
}

.release_date, .ratings {
    color: #9c9c9c;
    width: max-content;
    transition: .4s; 
}

.card_info {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-top: 20px;
}

.card_info:hover {
    cursor: pointer;
}

.titles {
    transition: .4s;  
}

.titles:hover, .release_date:hover, .ratings:hover {
    transform: scale(1.1);
    clip-path: inset(0);
    transition: .4s;   
}

i.bx.bxs-star-half {
    color: yellow;
}


