/* :root uit header.css */

body, html {
	background: var(--first-color);
	margin: 0px;
	font-family: fantasy;
}

div#shell {
	color: white;
}

.Spotlight {
    display: flex;
    gap: 15px;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;

    scrollbar-color: var(--third-color) transparent;
    scrollbar-width: thin;
}

.movie-banner img {
    border-radius: 10px;
}

.Card {
    background: var(--first-color);
    border-radius: 10px;
}

.release_date, .ratings {
    color: #9c9c9c;
    width: max-content;
}

.card_info {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
}

.titles {
    width: 170px;
}

i.bx.bxs-star-half {
    color: yellow;
}