:root {
    --first-color: linear-gradient(176deg, rgba(19, 15, 15, 1) 0%, rgba(0, 0, 0, 1) 100%);
	--second-color: black;
	--third-color: #505050;
	--fourth-color: #e6e6e6;
	--fifth-color: #141313;
	--sixth-color: #b3b3b3;
}

.Spotlight {
    display: flex;
    gap: 15px;
    left: 15px;
    position: relative;
    overflow: auto;
}

.movie-banner img {
    border-radius: 10px;
    /* width: 100%;
    height: auto; */
}

.Card {
    background: var(--first-color);
    border-radius: 10px;
}