:root {
	--first-color: #1b1b1b;
	--second-color: rgb(0 0 0);
	--third-color: #505050;
	--logo-width: min-content;
	--logo-height: min-content;
}

body, html {
	background-color: var(--first-color);
	/* display: flex; */
}

/* html, body {
    height: 100%;
    margin: 0;
    border: solid black 10px;
} */

#shell {
	color: white;
}

#logo {
	max-height: 100%; 
	object-fit: contain; 
}

.links {
    display: flex;
	flex-direction: row;
}

#header {
	background-color: var(--second-color);
	height: var(--full-header-size);
}

#navigation {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}

#search {
	padding: 10px;
	border-radius: 12px;
	border: 3px solid var(--third-color);
	background-color: var(--first-color);
    position: relative;
	right: 20px;
}

#search-field {
	background-color: transparent;
	border: transparent;
	color: white;
}